<div class=footer>
  <p>&copy; Copyright 2012 by <a href="{{ SITEURL }}/pages/about-me.html"> {{ AUTHOR }} </a> </p>
  <p> Powered by <a href="http://pypi.python.org/pypi/pelican/" target="_blank">Pelican</a></p>
  <p>
    License: <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons
    attribution-noncommercial-sharealike License.</a>
  </p>
  <p>
    Feeds: <a href="{{ SITEURL }}/feeds/all.rss.xml" rel="alternate" title="Recent Blog Posts">RSS</a>,
    <a href="{{ SITEURL }}/feeds/all.atom.xml" rel="alternate" title="Recent Blog Posts">Atom</a>
  </p>
  <p>
    <div class=social style="font-size: 27px;">
      <ul>
        <script language="JavaScript">
          u = '{{ MAIL_USERNAME }}';
          s = '{{ MAIL_HOST }}';
          document.write('<a href=\"mailto:' + u + '@' + s + '\" target=\"_blank\">');
        </script>
            <li><i class="icon-envelope icon-large"></i> </li>
        </a>
        <a href="http://twitter.com/{{ TWITTER_USERNAME }}" target="_blank"> <li> <i class="icon-twitter-sign icon-large"> </li></i> </a>
        <a href="{{ LINKEDIN_URL }}"><li><i class="icon-linkedin-sign icon-large" ></i></li></a>
        <a href="{{ GITHUB_URL }}" target="_blank"> <li> <i class="icon-github-sign icon-large"></i> </li> </a>
      </ul>
    </div>
  </p>
</div>