
      <div class=navigation>
        <ul>
          <li><a href="{{ SITEURL }}/index.html">Blog</a> </li>
          <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
          <li><a href="{{ SITEURL }}/tags.html">Tags</a> </li>
          <li><a href="{{ SITEURL }}/pages/projects.html">Projects</a> </li>
          <li><a href="{{ SITEURL }}/pages/talks.html">Talks</a></li>
          <li><a href="{{ SITEURL }}/pages/about-me.html">About</a> </li>
        </ul>
      </div>
      <div class=separator></div>